/* Estilos generales */

  h1, h2 {
    color: #444;
    margin-bottom: 10px;
  }
  
  a {
    color: #185ea8;
    text-decoration: none;
  }
  
  /* Estilos de botones */
  button {
    background-color: #014186;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* Navigation styles */
  nav {
    display: flex;
    margin: 2rem;
  }

  .nav-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;
  }

  .nav-button {
    color: #014186;
    font-size: 1rem;
    background-color: #eeeeee;
  }

  nav a:hover {
    color: #185ea8;
    text-decoration: underline;

  }

  .nav-button:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Estilos de formulario */
  form {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos de tabla */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  tr {
    border-bottom: 1px solid #ccc;
  }
  
  td {
    padding: 10px;
  }