<div class="profile-container">
    <h2>Profile</h2>
    <div *ngIf="user" mat-dialog-content class="edit-user-content">
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="username" disabled [(ngModel)]="user.username" placeholder="Nombre de usuario">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="text" name="email" disabled [(ngModel)]="user.email" placeholder="Email">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Biography</mat-label>
                <input matInput type="text" name="biography" [(ngModel)]="user.biography" placeholder="Biography">
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" (click)="updateLoggedUser()">Guardar</button>
    </div>
</div>